*{
    padding: 0;
    margin: 0;
}
.page-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    a i{
        transform: scale(2.0);
        color: black;
    }
}
.body-container{
    height: 80vh;
}
footer{
    display: flex;
    height: 5vh;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    a i{
        transform: scale(1.5);
        color: black;
    }
}
