body{
    padding: 0;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: silver;
}
.header{
    font-size: 25px;
    color: burlywood;
    position: relative;
    margin-top: 10%;
    margin-bottom: 4%;
    background-color: brown;
    padding: 10%;
    margin-left: 4%;
    margin-right: 4%;
    word-spacing: 4px;
    border-radius: 5px;
}
.rest{
    font-size: 25px;
    color: burlywood;
    position: relative;
    background-color: brown;
    padding: 10%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    word-spacing: 4px;
    border-radius: 5px;
}