<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(167, 95, 95);">
    <form method="POST" action="/login">
                <p>Welcome</p>
                <div class="Nickname--email">
                    <input type="text" placeholder="User@gmail.com" name="nickname">
                </div>
                <div class="password">
                    <input type="password" placeholder="Password" name="password">
                </div>
                <button type="submit" class="login btn btn-secondary">Login</button>
                <div class="register">Haven't <a class="text-light" href="/registration"> registered</a> ?</div>
    </form>
</body>
</html>