<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='../styles/profile.css')
    body
    div.header Hello #{username}, Welcome.
    div.rest This is a Fullstack Login and registration app, other features will be added soon.