<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title home
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='../styles/profile.css')
    body
    //- div.header Hello #{username}, Welcome.
    //- div.rest This is a Fullstack Login and registration app, other features will be added soon.
    div.page-container
        header
            a(href="/re") <i class="fa fa-user"></i>
            p.home Home
        hr
        div.body-container
            h Hello Something awesome will be here   
        hr
        footer
            a(href="/re") <i class="fa fa-sun-o"></i>
            a(href="/re") <i class="fa fa-users"></i>

            
