<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-primary">
    <form action="/register" method="POST">
            <p>Welcome</p>
            <div class="Nickname">
                <input type="text" placeholder="Nickname" name='nickname'>
            </div>
            <div class="email">
                <input type="email" placeholder="User@email.com" name='email'>
            </div>
            <div class="Password">
                <input type="password" placeholder="Password" name='password'>
            </div>
            <div class="confirm-password">
                <input type="password" placeholder="Confirm Password" name='confirmPassword'>
            </div>
            <button type="submit" class="register btn btn-success">Register</button>
            <div class="register">Already have an account ?<a href="/login">Login</a></div>
</form>
</body>
</html>